<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>URL Shortener</title>
  </head>
  <body>
    <main>
      <h1>URL Shortener</h1>
      <form action="/" method="post">
        <div>
          <label for="url">URL:</label>
          <input type="url" name="url" />
        </div>
        <div>
          <label for="shortCode">Short Code:</label>
          <input type="text" name="shortCode" />
        </div>
        <button type="submit">Submit</button>
      </form>

      <div>
        <h2>Links:</h2>
        <ul>
          {links}
        </ul>
      </div>
    </main>
    <script>
      document.querySelectorAll(".btn").forEach((btn) => {
        btn.addEventListener("click", async (e) => {
          const sibling = e.target.previousElementSibling;
          const shortCode = sibling.getAttribute("href").slice(1);
          try {
            const response = await fetch("/delete", {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ shortCode }),
            });

            if (!response.ok) {
              throw new Error("Reponse is not Correct");
            }
            window.location.reload();
          } catch (error) {
            console.log(error);
          }
        });
      });
    </script>
  </body>
</html>
